
.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family:Courier New;
}

.styled-table td, .styled-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.styled-table tr:nth-child(even){background-color: #f2f2f2;}

.styled-table tr:hover {background-color: #e0ecf5;}

.styled-table th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #0099cc;
    color: white;
}

body {
    font-family: Arial;
    background-color: rgba(236, 243, 249, 0.15);
}

h1 {
    color: #004666;
    border-bottom: 1px solid rgba(0,70,102,0.3)
}
h2 {
    color: #004666;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

ul {
    margin-top: 0px;
}

p {
    margin-top: 5px;
}

h3 {
    color: #004666;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

