argopt
black
boto3
cloudpickle
confuse
csv-detective
dash-bootstrap-components
fastapi
fastparquet
fire
fs.sshfs
gunicorn
imagehash
jupyter
mkl-fft
mkl-random
mkl-service
mljar-supervised
openml
pandas-profiling
pip-chill
python-dotenv
sqlitedict
uvicorn
# alembic # Installed as dependency for optuna
# appdirs # Installed as dependency for black, fs
# argon2-cffi # Installed as dependency for notebook
# async-generator # Installed as dependency for nbclient
# attrs # Installed as dependency for pytest, visions, jsonschema, cmd2
# backcall # Installed as dependency for ipython
# bcrypt # Installed as dependency for paramiko
# bleach # Installed as dependency for nbconvert
# botocore # Installed as dependency for s3transfer, boto3
# bottleneck # Installed as dependency for visions
# brotli # Installed as dependency for flask-compress
# catboost # Installed as dependency for mljar-supervised
# category-encoders # Installed as dependency for mljar-supervised
# cchardet # Installed as dependency for csv-detective
# certifi # Installed as dependency for minio, requests
# cffi # Installed as dependency for argon2-cffi, bcrypt, pynacl, cryptography
# chardet # Installed as dependency for csv-detective, requests
# click # Installed as dependency for uvicorn, black, flask
# cliff # Installed as dependency for optuna
# cmaes # Installed as dependency for optuna
# cmd2 # Installed as dependency for cliff
# colorama # Installed as dependency for cmd2
# colorlog # Installed as dependency for optuna
# colour # Installed as dependency for dtreeviz
# cryptography # Installed as dependency for paramiko
# cycler # Installed as dependency for matplotlib
# dash # Installed as dependency for dash-bootstrap-components
# dash-core-components # Installed as dependency for dash
# dash-html-components # Installed as dependency for dash
# dash-renderer # Installed as dependency for dash
# dash-table # Installed as dependency for dash
# decorator # Installed as dependency for ipython, networkx
# defusedxml # Installed as dependency for nbconvert
# dtreeviz # Installed as dependency for mljar-supervised
# entrypoints # Installed as dependency for nbconvert
# flask # Installed as dependency for flask-compress, dash
# flask-compress # Installed as dependency for dash
# fs # Installed as dependency for fs.sshfs
# future # Installed as dependency for dash
# graphviz # Installed as dependency for catboost, dtreeviz
# greenlet # Installed as dependency for sqlalchemy
# h11 # Installed as dependency for uvicorn
# htmlmin # Installed as dependency for pandas-profiling
# idna # Installed as dependency for requests
# importlib-metadata # Installed as dependency for jsonschema, pytest, stevedore, sqlalchemy, pluggy, cmd2, prettytable, markdown
# iniconfig # Installed as dependency for pytest
# ipykernel # Installed as dependency for qtconsole, jupyter, ipywidgets, notebook, jupyter-console
# ipython # Installed as dependency for jupyter-console, ipykernel, ipywidgets
# ipython-genutils # Installed as dependency for notebook, traitlets, qtconsole, nbformat
# ipywidgets # Installed as dependency for jupyter
# itsdangerous # Installed as dependency for flask
# jedi # Installed as dependency for ipython
# jinja2 # Installed as dependency for notebook, pandas-profiling, flask, nbconvert
# jmespath # Installed as dependency for boto3, botocore
# joblib # Installed as dependency for scikit-learn, scikit-plot, phik, mljar-supervised, pandas-profiling
# jsonschema # Installed as dependency for nbformat
# jupyter-client # Installed as dependency for qtconsole, notebook, nbclient, ipykernel, jupyter-console
# jupyter-console # Installed as dependency for jupyter
# jupyter-core # Installed as dependency for qtconsole, nbconvert, nbformat, notebook, jupyter-client
# jupyterlab-pygments # Installed as dependency for nbconvert
# jupyterlab-widgets # Installed as dependency for ipywidgets
# kiwisolver # Installed as dependency for matplotlib
# liac-arff # Installed as dependency for openml
# lightgbm # Installed as dependency for mljar-supervised
# llvmlite # Installed as dependency for numba
# mako # Installed as dependency for alembic
# markdown # Installed as dependency for mljar-supervised
# markupsafe # Installed as dependency for jinja2, mako
# matplotlib # Installed as dependency for catboost, dtreeviz, seaborn, scikit-plot, wordcloud, phik, missingno, mljar-supervised, pandas-profiling
# minio # Installed as dependency for openml
# missingno # Installed as dependency for pandas-profiling
# mistune # Installed as dependency for nbconvert
# multimethod # Installed as dependency for visions
# mypy-extensions # Installed as dependency for black
# nbclient # Installed as dependency for nbconvert
# nbconvert # Installed as dependency for notebook, jupyter
# nbformat # Installed as dependency for notebook, nbclient, ipywidgets, nbconvert
# nest-asyncio # Installed as dependency for nbclient
# networkx # Installed as dependency for visions
# notebook # Installed as dependency for widgetsnbextension, jupyter
# numba # Installed as dependency for shap, fastparquet
# numpy # Installed as dependency for catboost, xgboost, dtreeviz, imagehash, fastparquet, mkl-fft, visions, phik, matplotlib, cmaes, mljar-supervised, missingno, optuna, pywavelets, seaborn, pandas, lightgbm, pandas-profiling, mkl-random, scikit-learn, statsmodels, wordcloud, category-encoders, patsy, bottleneck, scipy, shap, openml, pyarrow, numba
# optuna # Installed as dependency for mljar-supervised
# packaging # Installed as dependency for pytest, bleach, optuna, fastparquet
# pandas # Installed as dependency for openml, shap, catboost, statsmodels, dtreeviz, seaborn, fastparquet, category-encoders, visions, phik, csv-detective, mljar-supervised, pandas-profiling
# pandocfilters # Installed as dependency for nbconvert
# paramiko # Installed as dependency for fs.sshfs
# parso # Installed as dependency for jedi
# pathspec # Installed as dependency for black
# patsy # Installed as dependency for category-encoders, statsmodels
# pbr # Installed as dependency for cliff, stevedore
# pexpect # Installed as dependency for ipython
# phik # Installed as dependency for pandas-profiling
# pickleshare # Installed as dependency for ipython
# pillow # Installed as dependency for imagehash, matplotlib, wordcloud
# plotly # Installed as dependency for dash, catboost
# pluggy # Installed as dependency for pytest
# prettytable # Installed as dependency for cliff
# prometheus-client # Installed as dependency for notebook
# prompt-toolkit # Installed as dependency for ipython, jupyter-console
# property-cached # Installed as dependency for fs.sshfs
# ptyprocess # Installed as dependency for pexpect, terminado
# py # Installed as dependency for pytest
# pyarrow # Installed as dependency for openml
# pycparser # Installed as dependency for cffi
# pydantic # Installed as dependency for fastapi, pandas-profiling
# pygments # Installed as dependency for qtconsole, nbconvert, ipython, jupyterlab-pygments, jupyter-console
# pynacl # Installed as dependency for paramiko
# pyparsing # Installed as dependency for cliff, matplotlib, packaging
# pyperclip # Installed as dependency for cmd2
# pyrsistent # Installed as dependency for jsonschema
# pytest # Installed as dependency for dtreeviz
# python-dateutil # Installed as dependency for openml, alembic, pandas, matplotlib, botocore, jupyter-client
# python-editor # Installed as dependency for alembic
# pytz # Installed as dependency for pandas, fs
# pywavelets # Installed as dependency for imagehash
# pyyaml # Installed as dependency for cliff, pandas-profiling, confuse
# pyzmq # Installed as dependency for notebook, qtconsole, jupyter-client
# qtconsole # Installed as dependency for jupyter
# qtpy # Installed as dependency for qtconsole
# regex # Installed as dependency for black
# requests # Installed as dependency for openml, pandas-profiling
# retrying # Installed as dependency for plotly
# s3transfer # Installed as dependency for boto3
# scikit-learn # Installed as dependency for openml, shap, dtreeviz, scikit-plot, category-encoders, lightgbm, mljar-supervised
# scikit-plot # Installed as dependency for mljar-supervised
# scipy # Installed as dependency for openml, shap, scikit-learn, statsmodels, optuna, xgboost, catboost, seaborn, imagehash, scikit-plot, category-encoders, phik, lightgbm, missingno, mljar-supervised, pandas-profiling
# seaborn # Installed as dependency for missingno, mljar-supervised, pandas-profiling
# send2trash # Installed as dependency for notebook
# shap # Installed as dependency for mljar-supervised
# six # Installed as dependency for fs.sshfs, retrying, jsonschema, catboost, fire, argon2-cffi, imagehash, plotly, cycler, fastparquet, thrift, pynacl, fs, bleach, bcrypt, mkl-service, patsy, python-dateutil
# slicer # Installed as dependency for shap
# sqlalchemy # Installed as dependency for optuna, alembic
# starlette # Installed as dependency for fastapi
# statsmodels # Installed as dependency for category-encoders
# stevedore # Installed as dependency for cliff
# tabulate # Installed as dependency for mljar-supervised
# tangled-up-in-unicode # Installed as dependency for pandas-profiling, visions
# termcolor # Installed as dependency for fire
# terminado # Installed as dependency for notebook
# testpath # Installed as dependency for nbconvert
# threadpoolctl # Installed as dependency for scikit-learn
# thrift # Installed as dependency for fastparquet
# toml # Installed as dependency for pytest
# tomli # Installed as dependency for black
# tornado # Installed as dependency for notebook, jupyter-client, ipykernel, terminado
# tqdm # Installed as dependency for pandas-profiling, shap, optuna
# traitlets # Installed as dependency for qtconsole, nbconvert, jupyter-core, nbformat, ipywidgets, notebook, nbclient, ipython, ipykernel, jupyter-client
# typed-ast # Installed as dependency for black
# typing-extensions # Installed as dependency for uvicorn, black, pydantic, cmd2
# unidecode # Installed as dependency for csv-detective
# urllib3 # Installed as dependency for botocore, minio, requests
# visions # Installed as dependency for pandas-profiling
# wcwidth # Installed as dependency for prompt-toolkit, cmd2, prettytable
# webencodings # Installed as dependency for bleach
# werkzeug # Installed as dependency for flask
# widgetsnbextension # Installed as dependency for ipywidgets
# wordcloud # Installed as dependency for mljar-supervised
# xgboost # Installed as dependency for mljar-supervised
# xmltodict # Installed as dependency for openml
# zipp # Installed as dependency for importlib-metadata
