argopt==0.7.0
boto3==1.17.56
cloudpickle==1.3.0
confuse==1.4.0
csv-detective==0.4.1
dash-bootstrap-components==0.11.3
fastapi==0.65.2
fastparquet==0.8
fire==0.4.0
fs.sshfs==1.0.0
gunicorn==20.0.4
imagehash==4.2.0
jupyter==1.0.0
mkl-fft>=1.2.0
mkl-random==1.2.2 # you may need .whl at this point
mkl-service==2.3.0
mljar-supervised==0.10.6
openml==0.12.1
pandas-profiling==3.0.0
pip-chill==1.0.1
python-dotenv==0.15.0
sqlitedict==1.7.0
uvicorn==0.13.3