csv-detective
dash-bootstrap-components
dash
fastapi
imagehash
jupyter
mkl-fft
mkl-random
mkl-service
mljar-supervised
pandas-profiling
python-dotenv
sqlitedict
uvicorn
# argon2-cffi # Installed as dependency for notebook
# async-generator # Installed as dependency for nbclient
# attrs # Installed as dependency for pytest, visions, jsonschema, pandas-profiling
# backcall # Installed as dependency for ipython
# bleach # Installed as dependency for nbconvert
# brotli # Installed as dependency for flask-compress
# catboost # Installed as dependency for mljar-supervised
# category-encoders # Installed as dependency for mljar-supervised
# cchardet # Installed as dependency for csv-detective
# certifi # Installed as dependency for requests
# cffi # Installed as dependency for argon2-cffi
# chardet # Installed as dependency for requests, csv-detective
# click # Installed as dependency for uvicorn, flask
# cloudpickle # Installed as dependency for mljar-supervised
# colour # Installed as dependency for dtreeviz
# confuse # Installed as dependency for pandas-profiling
# cycler # Installed as dependency for matplotlib
# dash # Installed as dependency for dash-bootstrap-components
# dash-core-components # Installed as dependency for dash
# dash-html-components # Installed as dependency for dash
# dash-renderer # Installed as dependency for dash
# dash-table # Installed as dependency for dash
# decorator # Installed as dependency for networkx, ipython
# defusedxml # Installed as dependency for nbconvert
# dtreeviz # Installed as dependency for mljar-supervised
# entrypoints # Installed as dependency for nbconvert
# fastparquet # Installed as dependency for mljar-supervised
# flask # Installed as dependency for dash, flask-compress
# flask-compress # Installed as dependency for dash
# future # Installed as dependency for dash
# graphviz # Installed as dependency for dtreeviz, catboost
# h11 # Installed as dependency for uvicorn
# htmlmin # Installed as dependency for pandas-profiling
# idna # Installed as dependency for requests
# importlib-metadata # Installed as dependency for pytest, pluggy, jsonschema
# iniconfig # Installed as dependency for pytest
# ipykernel # Installed as dependency for ipywidgets, jupyter-console, notebook, qtconsole, jupyter
# ipython # Installed as dependency for ipywidgets, jupyter-console, ipykernel
# ipython-genutils # Installed as dependency for qtconsole, nbformat, notebook, traitlets
# ipywidgets # Installed as dependency for jupyter, pandas-profiling
# itsdangerous # Installed as dependency for flask
# jedi # Installed as dependency for ipython
# jinja2 # Installed as dependency for notebook, flask, pandas-profiling, nbconvert
# joblib # Installed as dependency for scikit-learn, mljar-supervised, phik, pandas-profiling
# jsonschema # Installed as dependency for nbformat
# jupyter-client # Installed as dependency for jupyter-console, nbclient, notebook, ipykernel, qtconsole
# jupyter-console # Installed as dependency for jupyter
# jupyter-core # Installed as dependency for nbformat, notebook, nbconvert, qtconsole, jupyter-client
# jupyterlab-pygments # Installed as dependency for nbconvert
# jupyterlab-widgets # Installed as dependency for ipywidgets
# kiwisolver # Installed as dependency for matplotlib
# lightgbm # Installed as dependency for mljar-supervised
# llvmlite # Installed as dependency for numba
# markupsafe # Installed as dependency for jinja2
# matplotlib # Installed as dependency for catboost, seaborn, pandas-profiling, mljar-supervised, wordcloud, phik, dtreeviz, missingno
# missingno # Installed as dependency for pandas-profiling
# mistune # Installed as dependency for nbconvert
# nbclient # Installed as dependency for nbconvert
# nbconvert # Installed as dependency for jupyter, notebook
# nbformat # Installed as dependency for ipywidgets, nbclient, notebook, nbconvert
# nest-asyncio # Installed as dependency for nbclient
# networkx # Installed as dependency for visions
# notebook # Installed as dependency for widgetsnbextension, jupyter
# numba # Installed as dependency for shap, phik, fastparquet
# numpy # Installed as dependency for mkl-fft, mljar-supervised, scipy, visions, matplotlib, scikit-learn, pyarrow, lightgbm, seaborn, pywavelets, phik, mkl-random, catboost, category-encoders, xgboost, imagehash, statsmodels, patsy, shap, pandas-profiling, pandas, numba, wordcloud, dtreeviz, missingno, fastparquet
# packaging # Installed as dependency for pytest, bleach, fastparquet
# pandas # Installed as dependency for dtreeviz, visions, shap, catboost, seaborn, pandas-profiling, category-encoders, csv-detective, mljar-supervised, phik, statsmodels, fastparquet
# pandocfilters # Installed as dependency for nbconvert
# parso # Installed as dependency for jedi
# patsy # Installed as dependency for category-encoders, statsmodels
# pexpect # Installed as dependency for ipython
# phik # Installed as dependency for pandas-profiling
# pickleshare # Installed as dependency for ipython
# pillow # Installed as dependency for wordcloud, imagehash, matplotlib
# plotly # Installed as dependency for dash, catboost
# pluggy # Installed as dependency for pytest
# prometheus-client # Installed as dependency for notebook
# prompt-toolkit # Installed as dependency for jupyter-console, ipython
# ptyprocess # Installed as dependency for terminado, pexpect
# py # Installed as dependency for pytest
# pyarrow # Installed as dependency for mljar-supervised
# pycparser # Installed as dependency for cffi
# pydantic # Installed as dependency for fastapi
# pygments # Installed as dependency for jupyter-console, jupyterlab-pygments, ipython, nbconvert, qtconsole
# pyparsing # Installed as dependency for matplotlib, packaging
# pyrsistent # Installed as dependency for jsonschema
# pytest # Installed as dependency for dtreeviz
# python-dateutil # Installed as dependency for jupyter-client, matplotlib, pandas
# pytz # Installed as dependency for pandas
# pywavelets # Installed as dependency for imagehash
# pyyaml # Installed as dependency for confuse
# pyzmq # Installed as dependency for qtconsole, jupyter-client, notebook
# qtconsole # Installed as dependency for jupyter
# qtpy # Installed as dependency for qtconsole
# requests # Installed as dependency for pandas-profiling
# retrying # Installed as dependency for plotly
# scikit-learn # Installed as dependency for shap, lightgbm, category-encoders, mljar-supervised, dtreeviz
# scipy # Installed as dependency for scikit-learn, shap, catboost, lightgbm, seaborn, pandas-profiling, category-encoders, xgboost, mljar-supervised, imagehash, phik, statsmodels, missingno
# seaborn # Installed as dependency for mljar-supervised, pandas-profiling, missingno
# send2trash # Installed as dependency for notebook
# shap # Installed as dependency for mljar-supervised
# six # Installed as dependency for plotly, argon2-cffi, jsonschema, catboost, bleach, mkl-service, cycler, patsy, retrying, imagehash, fastparquet, python-dateutil, thrift
# slicer # Installed as dependency for shap
# starlette # Installed as dependency for fastapi
# statsmodels # Installed as dependency for category-encoders
# tabulate # Installed as dependency for mljar-supervised
# tangled-up-in-unicode # Installed as dependency for visions, pandas-profiling
# terminado # Installed as dependency for notebook
# testpath # Installed as dependency for nbconvert
# threadpoolctl # Installed as dependency for scikit-learn
# thrift # Installed as dependency for fastparquet
# toml # Installed as dependency for pytest
# tornado # Installed as dependency for terminado, jupyter-client, notebook, ipykernel
# tqdm # Installed as dependency for shap, pandas-profiling
# traitlets # Installed as dependency for ipywidgets, nbclient, nbformat, ipython, notebook, nbconvert, jupyter-core, qtconsole, jupyter-client, ipykernel
# typing-extensions # Installed as dependency for uvicorn
# unidecode # Installed as dependency for csv-detective
# urllib3 # Installed as dependency for requests
# visions # Installed as dependency for pandas-profiling
# wcwidth # Installed as dependency for prompt-toolkit
# webencodings # Installed as dependency for bleach
# werkzeug # Installed as dependency for flask
# widgetsnbextension # Installed as dependency for ipywidgets
# wordcloud # Installed as dependency for mljar-supervised
# xgboost # Installed as dependency for dtreeviz, mljar-supervised
# zipp # Installed as dependency for importlib-metadata
